<ion-view class="app-tabbed-view">
  <ion-pane>
    <ion-tabs class="tabbed-navigation tabs-icon-top">
      <ion-tab title="Pending" icon-off="pending-icon" icon-on="pending-icon" ui-sref="main.app.orderspending">
        <ion-nav-view name="orders-pending"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Confirmed" icon-off="confirmed-icon" icon-on="confirmed-icon" ui-sref="main.app.ordersconfirmed">
        <ion-nav-view name="orders-confirmed"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Completed" icon-off="completed-icon" icon-on="completed-icon" ui-sref="main.app.orderscompleted">
        <ion-nav-view name="orders-completed"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-view>
