<ion-view class="login-view auth-view" cache-view="false">
  <ion-content has-bouncing="false" style="background: #e74c3c; background-image: url(../img/common/pattern.png) !important; background-repeat: repeat;">
    <div class="row form-row" style="padding-top: 20px">
      <div class="col">
        <form name="login_form" class="form-container" style="margin: 15px" novalidate>
          <center><img src="./img/common/white_logo.png" width="70%"></center>

          <div class="row">
            <div class="tileBox" ng-click="openPage('OVERALL')">
              <tag>
                <span style="display: block; font-size: 42px"><i class="icon ion-android-bulb"></i></span>
                <span style="line-height: 26px; display: block">Quick Insights</span>
              </tag>
            </div>

            <div class="tileBox" ng-click="openPage('SALES')">
              <tag>
                <span style="display: block; font-size: 42px"><i class="icon fa fa-bar-chart"></i></span>
                <span style="line-height: 26px; display: block">Sales Summary</span>
              </tag>
            </div>
          </div>


          <div class="row">
            <div class="tileBox" ng-click="openPage('ACCOUNTS')">
              <tag>
                <span style="display: block; font-size: 42px"><i class="icon fa fa-inr"></i></span>
                <span style="line-height: 26px; display: block">Accounts</span>
              </tag>
            </div>

            <div class="tileBox" ng-click="openPage('FEEDBACKS')">
              <tag>
                <span style="display: block; font-size: 42px"><i class="icon ion-android-star-half"></i></span>
                <span style="line-height: 26px; display: block">Feedbacks</span>
              </tag>
            </div> 

          </div>


          <div class="row">
            <div class="tileBox" ng-click="openPage('STAFF')">
              <tag>
                <span style="display: block; font-size: 42px"><i class="icon ion-android-people"></i></span>
                <span style="line-height: 26px; display: block">Staff Directory</span>
              </tag>
            </div>

            <div class="tileBox" ng-click="openPage('CUSTOMERS')">
              <tag>
                <span style="display: block; font-size: 42px"><i class="icon ion-happy-outline"></i></span>
                <span style="line-height: 26px; display: block">Customer Profiles</span>
              </tag>
            </div>           
          </div>


          <div class="row">
            <button class="button button-small button-clear" style="font-size: 13px; margin-top: 10px; width: 100%; color: #ff968d; height: 50px;" ng-click="logoutNow()">Logout</button>  
          </div>


        </form>

      </div>
    </div>


  </ion-content>
          
</ion-view>
