<ion-side-menus class="feed-view">

  <ion-pane ion-side-menu-content>
      <ion-header-bar class="feed-header">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px;">
            <button class="button button-clear cart-button" style="margin: 0; color: #FFF; width: 35px;" ng-click="showOptionsMenu()">
            <i class="icon ion-navicon"></i> 
            </button>

            <button class="button button-clear" style="text-align: left; margin-left: 10px; font-weight: 400; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;">
              Accounts
            </button>  

         </div>
      </ion-header-bar>

    <ion-nav-view animation="slide-left-right">
         <ion-content class="categories-feeds-content" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content" style="background: #f5f5f5;">


          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon ion-coffee"></i></div>
                <div class="infoTileHead"><span>Sales Net</span></div>
                <div class="tinfoTileBody"><i class="fa fa-inr lightRupees"></i>{{getFancyAmount(overallData.grandSalesSum)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">worth Sales</span>
                </div>
            </div>
          </div>


          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-shopping-cart"></i></div>
                <div class="infoTileHead"><span>Purchase Volume</span></div>
                <div class="tinfoTileBody"><i class="fa fa-inr lightRupees"></i>{{getFancyAmount(overallData.grandPurchaseSum)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">worth Purchases</span>
                </div>
            </div>
          </div>



          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-inr"></i></div>
                <div class="infoTileHead"><span>Payments Made</span></div>
                <div class="tinfoTileBody"><i class="fa fa-inr lightRupees"></i>{{getFancyAmount(overallData.grandPaymentsSum)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">worth Payments</span>
                </div>
            </div>
          </div>


          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-money"></i></div>
                <div class="infoTileHead"><span>Salary Payments</span></div>
                <div class="tinfoTileBody"><i class="fa fa-inr lightRupees"></i>{{getFancyAmount(overallData.grandSalarySum)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">paid as Staff Salary</span>
                </div>
            </div>
          </div>


          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-inr"></i></div>
                <div class="infoTileHead"><span>Revenue Generated</span></div>
                <div class="tinfoTileBody" ng-style="getRevenueStyle(overallData.grandRevenueSum)"><tag ng-if="overallData.grandRevenueSum < 0">- </tag><i class="fa fa-inr lightRupees"></i>{{getFancyAmount(overallData.grandRevenueSum)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">Revenue Generated</span>
                </div>
            </div>
          </div>


          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%; padding: 16px">
                <div class="infoTileHead" style="margin-bottom: 10px; color: #2ecc71"><span>Income Summary</span></div>
                <table class="incomeListTable" style="width: 100%">
                  <tr ng-repeat="income in overallData.incomeList" style="height: 30px">
                    <td>#{{$index + 1}}</td>
                    <td style="font-size: 16px;">{{income.name}}</td>
                    <td style="font-size: 16px;"><i class="fa fa-inr lightRupees"></i>{{getFancyCurrency(income.amount)}}</td>
                  </tr>
                  <tr style="background: #357142 !important">
                    <td style="font-size: 16px; color: #FFF; font-weight: bold;" colspan="2">Total Income</td>
                    <td style="font-size: 16px; color: #FFF; font-weight: bold;"><i class="fa fa-inr lightRupees"></i>{{getFancyCurrency(overallData.incomeTotal)}}</td>
                  </tr>
                </table>
                <p style="margin: 5px 0 0 0; font-size: 11px; color: #b7b3b3;">Log on to the Portal for detailed reports.</p>
            </div>
          </div>

            
          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%; padding: 16px">
                <div class="infoTileHead" style="margin-bottom: 10px; color: #e74c3c"><span>Expenses Summary</span></div>
                <table class="expensesListTable" style="width: 100%">
                  <tr ng-repeat="expense in overallData.expenseList" style="height: 30px">
                    <td>#{{$index + 1}}</td>
                    <td style="font-size: 16px;">{{expense.name}}</td>
                    <td style="font-size: 16px;"><i class="fa fa-inr lightRupees"></i>{{getFancyCurrency(expense.amount)}}</td>
                  </tr>
                  <tr style="background: #923f38 !important">
                    <td style="font-size: 16px; color: #FFF; font-weight: bold;" colspan="2">Total Expenses</td>
                    <td style="font-size: 16px; color: #FFF; font-weight: bold;"><i class="fa fa-inr lightRupees"></i>{{getFancyCurrency(overallData.expenseTotal)}}</td>
                  </tr>
                </table>
                <p style="margin: 5px 0 0 0; font-size: 11px; color: #b7b3b3;">Log on to the Portal for detailed reports.</p>
            </div>
          </div>



          <div style="padding-bottom: 20px"></div>


         </ion-content>
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="main-menu">
    <header class="bar bar-header bar-stable" style="height: 80px; padding: 0; background: #661a18; display: flex; flex-direction: column; justify-content: center; align-items :center ;">
      
        <img style="width: 70%" ng-src="./img/common/white_logo.png"/>
  
    </header>
    <ion-content class="has-header" style="top: 80px">
      <ion-list>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.overall">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-bar-chart" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Overall Summary</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.sales">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-inr" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Sales</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.staff">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-users" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Staff Info</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.customers">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-smile-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Customers</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.feedbacks">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-star-half-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Feedbacks</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.stocks">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-cube" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Inventory</h2>
        </ion-item>

      </ion-list>
      <p style="margin-left: 15px; position: absolute; color: #5a1011; bottom: 0px; font-size: 12px;">Version 1.5.0</p>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>