
<ion-side-menus class="feed-view" cache-view="false">

  <ion-pane ion-side-menu-content>
      <ion-header-bar class="feed-header">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px;">
            <button class="button button-clear cart-button" style="margin: 0; color: #FFF; width: 35px;" ng-click="showOptionsMenu()">
            <i class="icon ion-navicon"></i> 
            </button>

            <button class="button button-clear" style="text-align: left; margin-left: 10px; font-weight: 400; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;">
              Customer Profiles
            </button>  

         </div>
      </ion-header-bar>

    <ion-nav-view animation="slide-left-right">
         <ion-content class="categories-feeds-content" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content" style="background: #f5f5f5;">

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="input-group" style="padding: 10px 0; border: none;">
              <input type="text" ng-model="searchKey" class="form-control input-lg" style="text-align: center; width: 100%; height: 42px;" placeholder="Search for Guests">
              <span class="input-group-btn">
                  <button class="button button-default btn-lg" type="button" ng-click="search(searchKey)" style="min-height: 10px; height: 42px !important; color: gray; border-radius: 0"><i class="icon ion-android-search"></i></button>
              </span>
            </div>
          </div>

      <!-- SEARCH RESULTS DISPLAY -->
      <div ng-if="isSearched">

        <!-- MANY RESULTS LISTING -->
        <div ng-if="!isViewingProfile"> 
          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%; padding: 16px 0 0 0">
                <div class="infoTileHead" style="margin: 0 10px 10px 10px">
                  <span>{{defaultDisplayTitle}}</span>
                  <span class="clearSearchButton" style="float: right" ng-click="resetSearchView()">Clear Search</span>
                </div>

                <table class="StaffListingTable" style="border-collapse: collapse; width: 100%;">
                  <tr ng-repeat="guest in guestData" ng-click="viewGuestProfile(guest)">
                    <td>
                      <b style="color: #b3393b">{{guest.name}}</b>
                      <span class="StaffListingRole">{{guest.guestType}}</span>
                    </td>
                    <td style="text-align: right; color: #384448">
                      {{guest.mobile}}
                      <span class="StaffListingMail">{{guest.email}}</span>
                    </td>
                  </tr>
                </table>

                <button class="button loadMoreButton" style="width: 100%" ng-if="isMoreLeft" ng-click="searchMore(searchKey)">Load More Results</button>

                <p ng-if="errorMessage && errorMessage != ''" style="color: gray; text-align: center">{{errorMessage}}</p>
            </div>
          </div>
        </div>

        <!-- VIEWING A RESULT -->
        <div ng-if="isViewingProfile">

            <button ng-click="goBackToResults()" class="clearSearchButton" style="width: 100%; height: 45px; text-align: center; color: gray; margin-top: -12px;" ng-if="!singleGuest">Back to Results</button>

            <button ng-click="resetSearchView()" class="clearSearchButton" style="width: 100%; height: 45px; text-align: center; margin-top: -12px;" ng-if="singleGuest">Clear Search</button>

            <div class="infoTile" style="width: 100%; padding: 16px 5px 5px 5px">
              <div class="row user-info-row">
                <div class="col col-25">
                   <pre-img ratio="_1_1">
                     <img class="profile-image" ng-if="viewingGuestData.photoURL && viewingGuestData.photoURL != ''" ng-src="{{viewingGuestData.photoURL}}" spinner-on-load/>

                     <img class="profile-image" ng-if="!viewingGuestData.photoURL || viewingGuestData.photoURL == ''" src="img/common/default_user.png" spinner-on-load/>
                   </pre-img>
                </div>
                <div class="col col-75 col-center user-info-col">
                  <h3 class="user-welcome" style="font-weight: 400; font-size: 24px; color: #a71d2b">{{viewingGuestData.name}}</h3>
                  <p class="user-email" style="font-weight: 300; color: #7d7d7d">Customer since {{viewingGuestData.memberSince}}</p>
                </div>
              </div>
            </div>

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%; padding: 16px 5px 5px 5px">
                <div class="infoTileHead" style="margin: 0 0 10px 10px"><span style="color: #3498db">Basic Information</span></div>

                                                   <table class="table" style="width: 100%">
                                                      <col width="40%"> <col width="60%">
                                                      <tbody>
                                                         <tr>
                                                            <td style="color: #4a4949; font-weight: 300;">Name</td>
                                                            <td style="color: #34495e">{{viewingGuestData.name}} </td>
                                                         </tr>
                                                         <tr>
                                                            <td style="color: #4a4949; font-weight: 300;">Mobile</td>
                                                            <td style="color: #34495e">{{viewingGuestData.mobile}}
                                                            <i ng-if="viewingGuestData.isVerified" style="color: #1abc9c;" class="fa fa-check-circle" data-toggle="tooltip" data-placement="right" title="Verified Mobile Number"></i>
                                                            </td>
                                                         </tr>
                                                         <tr>
                                                            <td style="color: #4a4949; font-weight: 300;">Email</td>
                                                            <td style="color: #34495e">{{viewingGuestData.email}}</td>
                                                         </tr>
                                                      </tbody>
                                                   </table>   
            </div>
          </div>   

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon ion-fork"></i></div>
                <div class="infoTileHead"><span>Total Visits</span></div>
                <div class="tinfoTileBody">{{viewingGuestData.totalVisits}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">Times visited</span>
                </div>
            </div>
          </div>

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-truck"></i></div>
                <div class="infoTileHead"><span>Online Orders</span></div>
                <div class="tinfoTileBody">{{viewingGuestData.totalOnlineOrders}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">Orders made online</span>
                </div>
            </div>
          </div>

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-inr"></i></div>
                <div class="infoTileHead"><span>Total Volume</span></div>
                <div class="tinfoTileBody"><i class="fa fa-inr lightRupees"></i>{{viewingGuestData.totalVolume}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">Worth revenue</span>
                </div>
            </div>
          </div>                                       

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon" ng-style="getRatingColor(viewingGuestData.averageRating)">{{viewingGuestData.averageRating}}</div>
                <div class="infoTileHead"><span>Average Rating</span></div>
                <div class="tinfoTileBody">
                  <tag ng-if="viewingGuestData.averageRating == 5" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating < 5 && viewingGuestData.averageRating > 4" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating == 4" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating < 4 && viewingGuestData.averageRating > 3" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating == 3" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating < 3 && viewingGuestData.averageRating > 2" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating == 2" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating < 2 && viewingGuestData.averageRating > 1" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating == 1" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="viewingGuestData.averageRating < 1" style="letter-spacing: -5px;" ng-style="getRatingColor(viewingGuestData.averageRating)">
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>

                </div>
                <div class="infoTileFoot">
                  <span style="color: gray">Average Rating by {{viewingGuestData.name}}</span>
                </div>
            </div>
          </div>

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-map-marker"></i></div>
                <div class="infoTileHead"><span>Recently Visited Outlet</span></div>
                <div class="tinfoTileBody" style="font-size: 26px">{{viewingGuestData.lastVisitOutlet}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray"><tag ng-if="viewingGuestData.lastVisitDate && viewingGuestData.lastVisitDate != ''">Visited on {{viewingGuestData.lastVisitDate}}</tag></span>
                </div>
            </div>
          </div>   


        </div> <!-- viewing result -->

      </div> <!-- searched case -->

      <!-- NOT SEARCHED CASE -->
      <div ng-if="!isSearched">
          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon ion-android-people"></i></div>
                <div class="infoTileHead"><span>Dine-In Guests</span></div>
                <div class="tinfoTileBody">{{getFancyCommaNumber(overallData.grandDineGuests)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">People's details recorded</span>
                </div>
            </div>
          </div>

          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon ion-fork"></i></div>
                <div class="infoTileHead"><span>Guests Visited</span></div>
                <div class="tinfoTileBody">{{getFancyCommaNumber(overallData.grandVisits)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">Odd guests dined In</span>
                </div>
            </div>
          </div>


          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-mobile"></i></div>
                <div class="infoTileHead"><span>App Registrations</span></div>
                <div class="tinfoTileBody">{{getFancyCommaNumber(overallData.grandAppRegistrations)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">People registered on App</span>
                </div>
            </div>
          </div>


          <div class="row" style="padding: 10px 10px 0 10px">
            <div class="infoTile" style="width: 100%;">
                <div class="infoTileIcon"><i class="icon fa fa-truck"></i></div>
                <div class="infoTileHead"><span>Delivery Through App</span></div>
                <div class="tinfoTileBody">{{getFancyCommaNumber(overallData.grandDeliveryMade)}}</div>
                <div class="infoTileFoot">
                  <span style="color: gray">Orders delivered through the App</span>
                </div>
            </div>
          </div>


      </div> <!-- not searched --> 



          <div style="padding-bottom: 20px"></div>


         </ion-content>
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="main-menu">
    <header class="bar bar-header bar-stable" style="height: 80px; padding: 0; background: #661a18; display: flex; flex-direction: column; justify-content: center; align-items :center ;">
      
        <img style="width: 70%" ng-src="./img/common/white_logo.png"/>
  
    </header>
    <ion-content class="has-header" style="top: 80px">
      <ion-list>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.tiles">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-th" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Home</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.overall">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="ion-android-bulb" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Quick Insights</h2>
        </ion-item>        
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.sales">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-bar-chart" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Sales Summary</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.accounts">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-inr" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Accounts</h2>
        </ion-item>        
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.staff">
               <i class="icon" style="width: 60px; color: #FFF"><i class="ion-android-people" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Staff Directory</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.customers">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-smile-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Customer Profiles</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.feedbacks">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-star-half-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Feedbacks</h2>
        </ion-item>


        <ion-item style="padding-top: 0; background: none; bottom: 0; width: 100%; border: none;" nav-clear>
               <p style="color: #521110; font-size: 11px; margin: 10px 0; text-align: center;">Version 1.5.0</p>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>