
<ion-side-menus class="feed-view" cache-view="false">

  <ion-pane ion-side-menu-content>
      <ion-header-bar class="feed-header">
         <div class="buttons" style="position: absolute; top: 5px; left: 5px; bottom: 5px;">
            <button class="button button-clear cart-button" style="margin: 0; color: #FFF; width: 35px;" ng-click="showOptionsMenu()">
            <i class="icon ion-navicon"></i> 
            </button>

            <button class="button button-clear" style="text-align: left; margin-left: 10px; font-weight: 400; color: #FFF; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size: 18px;">
              Feedbacks
            </button>  

            <button class="button button-clear" ng-click="filterFeeds()" ng-class='{clearFeeedFilterButton : isFilterApplied, applyFilterButton : !isFilterApplied}' style="position: absolute; top: 0px; right: 0px;">
              <tag ng-if="!isFilterApplied">Show Filters</tag>
              <tag ng-if="isFilterApplied">
                <tag ng-if="filterAppliedDisplayText && filterAppliedDisplayText == 'MOST'">Good Reviews First</tag>
                <tag ng-if="filterAppliedDisplayText && filterAppliedDisplayText == 'LEAST'">Bad Reviews First</tag>
                <tag ng-if="filterAppliedDisplayText && filterAppliedDisplayText == 'COMMENTS'">Reviews with Comments</tag>
                <tag ng-if="filterAppliedDisplayText != 'MOST' && filterAppliedDisplayText != 'LEAST' && filterAppliedDisplayText != 'COMMENTS'">Filter Applied</tag>
              </tag>
            </button>              

         </div>
      </ion-header-bar>

    <ion-nav-view animation="slide-left-right">
         <ion-content class="categories-feeds-content" overflow-scroll="true" has-bouncing="false" delegate-handle="feeds-content" style="background: #fff;">



    <!-- FEED BACK TIMELINE -->
    <div style="padding: 15px">


          <div class="row">
            <div class="feedbackTile" style="margin: 0 4px 8px 0">
              <tag>
                <span class="feedbackTileRating" ng-style="getRatingColor(feedFigures.overall)">{{feedFigures.overall}}</span>
                <span ng-style="getRatingColor(feedFigures.overall)" style="font-size: 28px">
                  <tag ng-if="feedFigures.overall == 5" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall < 5 && feedFigures.overall > 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall == 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall < 4 && feedFigures.overall > 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall == 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall < 3 && feedFigures.overall > 2" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall == 2">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall < 2 && feedFigures.overall > 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall == 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.overall < 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                </span>                
                <span class="feedbackTileCaption">Overall</span>
              </tag>
            </div>

            <div class="feedbackTile" style="margin: 0 0 8px 4px">
              <tag>
                <span class="feedbackTileRating" ng-style="getRatingColor(feedFigures.food)">{{feedFigures.food}}</span>
                <span ng-style="getRatingColor(feedFigures.food)" style="font-size: 28px">
                  <tag ng-if="feedFigures.food == 5" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                  </tag>
                  <tag ng-if="feedFigures.food < 5 && feedFigures.food > 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                  </tag>
                  <tag ng-if="feedFigures.food == 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.food < 4 && feedFigures.food > 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.food == 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.food < 3 && feedFigures.food > 2" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.food == 2">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.food < 2 && feedFigures.food > 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.food == 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.food < 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                </span>                
                <span class="feedbackTileCaption">Food</span>
              </tag>
            </div>
          </div>


          <div class="row">
            <div class="feedbackTile" style="margin: 0 4px 8px 0">
              <tag>
                <span class="feedbackTileRating" ng-style="getRatingColor(feedFigures.quality)">{{feedFigures.quality}}</span>
                <span ng-style="getRatingColor(feedFigures.quality)" style="font-size: 28px">
                  <tag ng-if="feedFigures.quality == 5" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality < 5 && feedFigures.quality > 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality == 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality < 4 && feedFigures.quality > 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality == 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality < 3 && feedFigures.quality > 2" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality == 2">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality < 2 && feedFigures.quality > 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality == 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.quality < 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                </span>                
                <span class="feedbackTileCaption">Value for Money</span>
              </tag>
            </div>

            <div class="feedbackTile" style="margin: 0 0 8px 4px">
              <tag>
                <span class="feedbackTileRating" ng-style="getRatingColor(feedFigures.service)">{{feedFigures.service}}</span>
                <span ng-style="getRatingColor(feedFigures.service)" style="font-size: 28px">
                  <tag ng-if="feedFigures.service == 5" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                  </tag>
                  <tag ng-if="feedFigures.service < 5 && feedFigures.service > 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                  </tag>
                  <tag ng-if="feedFigures.service == 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.service < 4 && feedFigures.service > 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.service == 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.service < 3 && feedFigures.service > 2" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.service == 2">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.service < 2 && feedFigures.service > 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.service == 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.service < 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                </span>                
                <span class="feedbackTileCaption">Service</span>
              </tag>
            </div> 

          </div>


          <div class="row" style="margin-bottom: 25px">
            <div class="feedbackTile" style="margin: 0 4px 8px 0">
              <tag>
                <span class="feedbackTileRating" ng-style="getRatingColor(feedFigures.delivery)">{{feedFigures.delivery}}</span>
                <span ng-style="getRatingColor(feedFigures.delivery)" style="font-size: 28px">
                  <tag ng-if="feedFigures.delivery == 5" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery < 5 && feedFigures.delivery > 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery == 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery < 4 && feedFigures.delivery > 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery == 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery < 3 && feedFigures.delivery > 2" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery == 2">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery < 2 && feedFigures.delivery > 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery == 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.delivery < 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                </span>
                <span class="feedbackTileCaption">Delivery</span>
              </tag>
            </div>

            <div class="feedbackTile" style="margin: 0 0 8px 4px">
              <tag>
                <span class="feedbackTileRating" ng-style="getRatingColor(feedFigures.app)">{{feedFigures.app}}</span>
                <span ng-style="getRatingColor(feedFigures.app)" style="font-size: 28px">
                  <tag ng-if="feedFigures.app == 5" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                  </tag>
                  <tag ng-if="feedFigures.app < 5 && feedFigures.app > 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                  </tag>
                  <tag ng-if="feedFigures.app == 4" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.app < 4 && feedFigures.app > 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.app == 3" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.app < 3 && feedFigures.app > 2" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.app == 2">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.app < 2 && feedFigures.app > 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.app == 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                  <tag ng-if="feedFigures.app < 1" style="letter-spacing: -5px;">
                    <i class="icon ion-android-star-half"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                    <i class="icon ion-android-star-outline"></i>
                  </tag>
                </span>                
                <span class="feedbackTileCaption">Ambience</span>
              </tag>
            </div>           
          </div>


                                                <ul class="mini-timeline">
                                                 <li ng-repeat="feed in feedbacks" ng-class="{'mini-timeline-positive':feed.feedback.rating == 5, 'mini-timeline-neutral':feed.feedback.rating < 5 && feed.feedback.rating > 1, 'mini-timeline-negative':feed.feedback.rating == 1}">
                                                    <div class="timeline-icon"></div>
                                                    <div class="timeline-body">
                                                       <div class="timeline-content">
                                                          <tag ng-if="feed.feedback.rating == 5" style="color: #2ecc71">
                                                            <tag style="font-size: 120%;" ng-if="feed.feedback.comment != ''">{{feed.feedback.comment}}</tag>
                                                            <rating class="feedRating">
                                                            <i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i>
                                                            </rating>
                                                          </tag>
                                                          <tag ng-if="feed.feedback.rating == 4" style="color: #cddc39">
                                                            <tag style="font-size: 120%" ng-if="feed.feedback.comment != ''">{{feed.feedback.comment}}</tag>
                                                            <rating class="feedRating">
                                                            <i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i>
                                                            </rating>
                                                          </tag>
                                                          <tag ng-if="feed.feedback.rating == 3" style="color: #cddc39">
                                                            <tag style="font-size: 120%" ng-if="feed.feedback.comment != ''">{{feed.feedback.comment}}</tag>
                                                            <rating class="feedRating">
                                                            <i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i>
                                                            </rating>
                                                          </tag>
                                                          <tag ng-if="feed.feedback.rating == 2" style="color: #cddc39">
                                                            <tag style="font-size: 120%" ng-if="feed.feedback.comment != ''">{{feed.feedback.comment}}</tag>
                                                            <rating class="feedRating">
                                                            <i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i>
                                                            </rating>
                                                          </tag>
                                                          <tag ng-if="feed.feedback.rating == 1" style="color: #e74c3c">
                                                            <tag style="font-size: 120%" ng-if="feed.feedback.comment != ''">{{feed.feedback.comment}}</tag>
                                                            <rating class="feedRating">
                                                            <i style="font-size: 28px" class="icon ion-android-star" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i><i style="font-size: 28px" class="icon ion-android-star-outline" aria-hidden="true"></i>
                                                            </rating>
                                                          </tag>

                                                          <specialrating class="specialRating">
                                                          <positive ng-if="feed.feedback.rating == 5">
                                                              <span ng-if="feed.feedback.food" class="feedPositive"><i class="icon ion-happy-outline"></i> Food</span>
                                                              <span ng-if="feed.feedback.quality" class="feedPositive"><i class="icon ion-happy-outline"></i> Value</span>
                                                              <span ng-if="feed.feedback.service" class="feedPositive"><i class="icon ion-happy-outline"></i> Service</span>
                                                              <span ng-if="feed.feedback.delivery" class="feedPositive"><i class="icon ion-happy-outline"></i> Time</span>
                                                              <span ng-if="feed.feedback.ambience" class="feedPositive"><i class="icon ion-happy-outline"></i> Ambience</span>
                                                          </positive>
                                                          <neutral ng-if="feed.feedback.rating != 1 && feed.feedback.rating != 5">
                                                              <span ng-if="feed.feedback.food" class="feedNeutral"><i class="icon ion-sad-outline"></i> Food</span>
                                                              <span ng-if="feed.feedback.quality" class="feedNeutral"><i class="icon ion-sad-outline"></i> Value</span>
                                                              <span ng-if="feed.feedback.service" class="feedNeutral"><i class="icon ion-sad-outline"></i> Service</span>
                                                              <span ng-if="feed.feedback.delivery" class="feedNeutral"><i class="icon ion-sad-outline"></i> Time</span>
                                                              <span ng-if="feed.feedback.ambience" class="feedNeutral"><i class="icon ion-sad-outline"></i> Ambience</span>
                                                          </neutral>
                                                          <negative ng-if="feed.feedback.rating == 1">
                                                              <span ng-if="feed.feedback.food" class="feedNegative"><i class="icon ion-sad-outline"></i> Food</span>
                                                              <span ng-if="feed.feedback.quality" class="feedNegative"><i class="icon ion-sad-outline"></i> Value</span>
                                                              <span ng-if="feed.feedback.service" class="feedNegative"><i class="icon ion-sad-outline"></i> Service</span>
                                                              <span ng-if="feed.feedback.delivery" class="feedNegative"><i class="icon ion-sad-outline"></i> Time</span>
                                                              <span ng-if="feed.feedback.ambience" class="feedNegative"><i class="icon ion-sad-outline"></i> Ambience</span>
                                                          </negative>
                                                          </specialrating>
                                                          <br>
                                                          <tag class="name" style="color: #7f8c8d; font-weight: bold;">{{feed.userName}}, {{feed.userID}}</tag><br>
                                                          <span class="time">{{feed.time}}</span>
                                                       </div>
                                                    </div>
                                                 </li>

                                              </ul>
          </div>

<i ng-if="!left"><center><img src=img/common/end.png></center></i>
<ion-infinite-scroll
  immediate-check="false"
  ng-if="left"
  on-infinite="loadMore()"
  distance="1%">
</ion-infinite-scroll>



          <div style="padding-bottom: 20px"></div>

         </ion-content>
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="main-menu">
    <header class="bar bar-header bar-stable" style="height: 80px; padding: 0; background: #661a18; display: flex; flex-direction: column; justify-content: center; align-items :center ;">
      
        <img style="width: 70%" ng-src="./img/common/white_logo.png"/>
  
    </header>
    <ion-content class="has-header" style="top: 80px">
      <ion-list>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.tiles">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="fa fa-th" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Home</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.overall">
               <i class="icon" style="width: 60px; color: #FFF; text-align: center"><i class="ion-android-bulb" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Quick Insights</h2>
        </ion-item>        
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.sales">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-bar-chart" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Sales Summary</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.accounts">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-inr" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Accounts</h2>
        </ion-item>        
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.staff">
               <i class="icon" style="width: 60px; color: #FFF"><i class="ion-android-people" style="font-size: 80%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Staff Directory</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.customers">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-smile-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Customer Profiles</h2>
        </ion-item>
        <ion-item class="item-icon-left" style="background: none" nav-clear menu-close ui-sref="main.app.feedbacks">
               <i class="icon" style="width: 60px; color: #FFF"><i class="fa fa-star-half-o" style="font-size: 70%; padding-left: 6px"></i></i>
               <h2 class="menu-text">Feedbacks</h2>
        </ion-item>


        <ion-item style="padding-top: 0; background: none; bottom: 0; width: 100%; border: none;" nav-clear>
               <p style="color: #521110; font-size: 11px; margin: 10px 0; text-align: center;">Version 1.5.0</p>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
